@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.wrap {
  max-width: 1600px;
}

/*REPONSIVE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

body {
  overflow-x: hidden;
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
}

/*BALISE DE BASE*/
ul, ol, li, nav {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  color: var(--noir);
  text-decoration: none;
}

em {
  font-style: normal;
}

strong {
  font-style: normal;
  font-size: 3em;
}

/*CLASS*/
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.shadow {
  -webkit-box-shadow: 1.25vw 1.25vw 1.25vw -0.625vw lightgray;
  -moz-box-shadow: 1.25vw 1.25vw 0.625vw -0.625vw lightgray;
  box-shadow: 1.25vw 1.25vw 0.625vw -0.625vw lightgray;
}

.cover {
  background-size: cover;
}

input {
  border: none;
}

textarea:focus, input:focus {
  outline: none;
}

#wrap1 {
  max-width: 1350px;
  margin: 0 auto;
}

.wrap2 {
  max-width: 1050px;
  margin: 0 auto;
}

#header nav {
  padding: 0 1rem;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#header nav .logo_nav img {
  width: 8rem;
}
#header nav .header_btn {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  font-size: 1.2rem;
}
#header nav .header_btn a {
  padding: 0.7rem;
  background-color: #050B4F;
  color: white;
  border-radius: 5px;
}
#header nav .header_btn a:hover {
  cursor: pointer;
  opacity: 0.7;
}

#acceuil .wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
#acceuil .wrap img {
  margin-bottom: -2rem;
}
#acceuil .wrap h1 {
  margin-bottom: 1.5rem;
  font-weight: 400;
}
#acceuil .wrap .title {
  background-color: #142540;
  text-align: center;
  color: white;
  padding: 5rem;
}
#acceuil .wrap .title a {
  border-style: solid;
  padding: 0.5rem;
  border-radius: 10% 25%;
}
#acceuil .wrap .title a:hover {
  transition: 0.5s;
}
#acceuil .wrap img {
  width: 30%;
}
#acceuil .wrap .text {
  font-size: 20px;
  padding: 6rem;
  text-align: center;
}
#acceuil .wrap .text h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}

#inscription {
  padding: 5rem 0;
  background-color: #F1F1F1;
}
#inscription .wrap2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#inscription .wrap2 .cadre_left {
  width: 20%;
}
#inscription .wrap2 .cadre_left img {
  width: 150%;
}
#inscription .wrap2 .cadre_right {
  width: 80%;
}
#inscription .wrap2 .cadre_right h1 {
  text-align: center;
  background-color: #050B4F;
  color: white;
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#inscription .wrap2 .cadre_right form {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.4rem;
}
#inscription .wrap2 .cadre_right form .error {
  font-size: 1rem;
  color: red;
  margin-top: -0.2rem;
  margin-bottom: 0.5rem;
}
#inscription .wrap2 .cadre_right form input {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
#inscription .wrap2 .cadre_right form label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
#inscription .wrap2 .cadre_right form .form_separator {
  height: 0.1rem;
  width: 100%;
  margin: 0 auto;
  background-color: #050B4F;
  margin-bottom: 1.5rem;
}
#inscription .wrap2 .cadre_right form input[type=submit] {
  width: 7rem;
  padding: 0.7rem;
  border-radius: 15px;
  font-size: 1rem;
}
#inscription .wrap2 .cadre_right form input[type=submit]:hover {
  cursor: pointer;
  background-color: #050B4F;
  color: white;
}

#connexion {
  padding: 5rem 0;
  background-color: #F1F1F1;
}
#connexion .wrap2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#connexion .wrap2 .cadre_left {
  width: 20%;
}
#connexion .wrap2 .cadre_left img {
  width: 150%;
}
#connexion .wrap2 .cadre_right {
  width: 80%;
}
#connexion .wrap2 .cadre_right h1 {
  text-align: center;
  background-color: #050B4F;
  color: white;
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#connexion .wrap2 .cadre_right form {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 1rem;
  width: 50%;
  margin: 0 auto;
  gap: 1rem;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.4rem;
}
#connexion .wrap2 .cadre_right form input {
  width: 100%;
}
#connexion .wrap2 .cadre_right form label {
  width: 15rem;
}
#connexion .wrap2 .cadre_right form .form_separator {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: #050B4F;
}
#connexion .wrap2 .cadre_right form input[type=submit] {
  width: 7rem;
  padding: 0.7rem;
  border-radius: 15px;
  font-size: 1rem;
}
#connexion .wrap2 .cadre_right form input[type=submit]:hover {
  cursor: pointer;
  background-color: #FB9D2C;
  color: white;
}

footer {
  background-color: #242A2E;
  padding: 3.5rem 2rem;
  color: white;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
footer h2 {
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}
footer p {
  font-size: 1rem;
}
footer .div_foot {
  width: 20%;
}
footer .footer_logo img {
  width: 50%;
}
footer .horraires {
  display: flex;
}
footer .horraires .fa-times {
  color: red;
}
footer .horraires .fa-check {
  color: green;
}
footer .horraires .horraires_left {
  margin-right: 1rem;
}

/*# sourceMappingURL=styles.css.map */
