#acceuil{
    img {
      margin-bottom: -2rem;
      width: 25%;
    }
    h1 {
      margin-bottom: 1.5rem;
      font-weight: 300;
    }
    .main{
      background-color: #142540;
      text-align: center;
      color: white;
      padding: 5rem;
      a{
        border-style: solid;
        padding: .5rem;
        border-radius: 10% 25%;
      }
      a:hover{
        transition: 0.50s;
      }
    }

}