
#acceuil{
  background-color: #001242;
  .wrap{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    div img{
      position: relative;
      filter: grayscale(60%) blur(5px);
    }
    div.text{
      position: absolute;
      margin-top: 60vh; /* poussé de la moitié de hauteur de viewport */
      transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
      color: white;
      font-size: 25px;
      text-align: center;

    }

  }
}