#acceuil{
    img {
      @include breakpoints(tablette){
        width: 145%;
      }
      @include breakpoints(litleLaptop){
        width: 50%;
      }
      width: 25%;
    }
    h1 { 
      @include breakpoints(tablette){
        font-size: 1rem;
      }
      margin-bottom: 5rem;
      font-weight: 300;
      font-size: 1.8rem;
    }
  
    .main{
      @include breakpoints(litleLaptop){
        zoom: 1;
      }
      background-color: #142540;
      text-align: center;
      color: white;
      padding:  10rem 0;



      .btn-b{
        @include breakpoints(bigPhone){
          padding: .5rem 3rem;
          font-size: 1.5rem;
        }
        padding: .5rem 3rem;   background-color: $orange;
        border: solid 1px $orange ;
        border-radius: .4rem;
        -webkit-box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.93); 
        box-shadow: 3px 4px 5px -3px rgba(0,0,0,0.93);  
      }
      .btn-b:hover{
        background-color: transparent ;
        transition: .5s;

      }
  }
}

#flecheHaut{
  font-size: 5rem;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  color: $orange;
  opacity: .8;
}
.flecheHaut:hover{
  cursor: pointer;
}
@keyframes opacityAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: .8;
  }
}



