#analyse {
  
        // background: url("../img/reseaux.jpg") center;
        background-color: blue;
        background-size: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding: 10rem;
        h2{
            color: white;
            text-align: center;
            font-weight: 400;
            padding: 5rem;
        }
}