#connexion {
    padding: 5rem 0;
    background-color: $gris;
  .wrap2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cadre_left {
      width: 20%;
      img {
        width: 150%;
      }
    }
        #missing_password{
          margin-top: .7rem;
          text-align: center;
          a{
            font-size: 1.1rem;
            color: $orange;
            text-decoration: underline;
          }
          a:hover{
            color: $dark_blue;
          }
        }
      }
    }
