#header{ 
  nav{    
    padding: 0 4rem;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .logo_nav{
      img{
        width: 8rem;
      }
    }

    .header_btn{
      
      display: flex;
      flex-flow: row nowrap;
      gap: 2rem;
      font-size: 1.2rem;
      a{
        color: white;
        position: relative;
        text-transform: uppercase;
      }
      a:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -0.4rem;
        width: 0;
        left: 0;
        height: 2px;
        transition: 0.5s cubic-bezier(0.42, 0.0, 1.0, 1.0);
        background: $orange;
      }
      a:hover:after{
        width: 90%;
      }
    }
  }
}

// second header

#header.second{  
  nav{
    position: inherit;
    background-color: white;
    .header_btn{
      a{
        color: black;
      }
    }
  }    
}