#header{

  nav{
    padding: 0 1rem;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .logo_nav{
      img{
        width: 8rem;
      }
    }

    .header_btn{
      display: flex;
      flex-flow: row nowrap;
      gap: 2rem;
      font-size: 1.2rem;
        a{
          padding: .7rem;
          background-color: $dark_blue;
          color: white;
          border-radius: 5px;
        }
        a:hover{
          cursor: pointer;
          opacity: .7;
      }
    }
  }
}

