#infos {
    padding: 14rem 0 12rem 0;
    background-color: rgb(231, 225, 225);
    position: relative;

    h2{
        font-weight: 400;
        font-size: 2.5rem;
        color: $dark_blue;
        text-align: left;
        position: absolute;
        top: 10%;
        left: 5%;
    }



    .trans3d
    {
        -webkit-transform-style: preserve-3d;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform-style: preserve-3d;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform-style:preserve-3d;
        -ms-transform: translate3d(0, 0, 0);
        transform-style:preserve-3d;
        transform: translate3d(0, 0, 0);
        #contentContainer
        {
            position:absolute;
            margin-left:-500px;
            margin-top:-800px;
            left:50%;
            top:80%;
            width:2000px;
            height:2000px;
            #carouselContainer
            {
                position:absolute;
                margin-left:-500px;
                margin-top:-800px;
                left:50%;
                top:80%;
                width:1000px;
                height:1000px;
                .carouselItem
                {
                    width:320px;
                    height:130px;
                    position:absolute;
                    left:50%;
                    top:80%;
                    margin-left:-160px;
                    margin-top:-90px;
                    visibility:hidden;
                     
       
                } 
            }
        }
    }
}
.carouselItemInner
{
  
    width:320px;
    height:130px;
    position:absolute;
    background-color:rgba(255, 255, 255, .75);
    border:10px solid rgba(255, 255, 255, .5);
    color:aqua;
    font-size:72px;
    left:50%;
    top:80%;
    margin-left:-160px;
    margin-top:-90px;
    text-align:center;
  
    
}
        
       
        
      
        
    
        