#infos {
    padding: 14rem 0 14rem 0;
    background-color: rgb(231, 225, 225);
    position: relative;
   
    h2{
        font-weight: 400;
        font-size: 2.5rem;
        color: $dark_blue;
        text-align: left;
        position: absolute;
        top: 10%;
        left: 5%;
    }

    .trans3d
    {
        -webkit-transform-style: preserve-3d;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform-style: preserve-3d;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform-style:preserve-3d;
        -ms-transform: translate3d(0, 0, 0);
        transform-style:preserve-3d;
        transform: translate3d(0, 0, 0);
       
        #contentContainer
        {
            position:absolute;
            left:-20%;
            top:-80%;
            width:20%;
            height:50%;
            #carouselContainer
            {
                position:absolute;
                left:-20%;
                top:-80%;
                .carouselItem
                {
                    position:absolute;
                    // left:20%;
                 
                    top:-80%;
                    visibility:hidden;

                } 
            }
        }
    }
}
.carouselItemInner
{
    width:180px;
    height:40px;
    position:absolute;
    left:50%;
    top:-80%;
}
        
       
        
      
        
    
        