
#infos {
    @include breakpoints(tablette){
        padding: 12rem 0 2rem 0;
      }
    padding: 14rem 0 28rem 0;
    background-color: rgb(231, 225, 225);
    position: relative;
    .confiance {
        @include breakpoints(tablette){
            display: block;
          }
          text-align: center;
          max-width: 800px;
          width: 100%;
          margin: 0 auto;
        display: none;
        img{
            width: 30%;
            margin: 0 .5rem;
            margin-bottom: 1rem;
        }
      
    }
    h2{
        font-weight: 400;
        font-size: 2.5rem;
        color: $dark_blue;
        text-align: left;
        position: absolute;
        top: 10%;
        left: 5%;
        @include breakpoints(tablette){
            text-align: center;
          }
       
    }

    .trans3d
    {
        @include breakpoints(tablette){
            display: none;
          }
        -webkit-transform-style: preserve-3d;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform-style: preserve-3d;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform-style:preserve-3d;
        -ms-transform: translate3d(0, 0, 0);
        transform-style:preserve-3d;
        transform: translate3d(0, 0, 0);
      
        #contentContainer
        {
            position:absolute;
            left:-20%;
            bottom :-50%;  
            width:20%;
            height:0px;
            #carouselContainer
            {
                position:absolute;
                left:-20%;
                bottom :-50%;  
                .carouselItem
                {
                    position:absolute;
                    // left:20%;
                 
                    bottom :-50%;  
                    visibility:hidden;

                } 
            }
        }
    }
}
.carouselItemInner
{
    width:180px;
    height: 1px;
    position:absolute;
    left:50%;
    bottom :-700%;  
}
        
       
        
      
        
    
        