@import "../inc/variable";
#log {
    background-color: $dark_violet;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    
    .title_log{
        text-align: center;
        margin-bottom: 1rem;
    }
    .search{
        background-color: $violet;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
      h2{
        font-weight: 400;
        font-size: 1.4rem;
      }
      .tram{
          display: flex;
          align-items: center;
          .type_tram{
              display: flex;
              align-items: center;
          }
          label{
              font-size: 1.3rem;
              margin-left: 1rem;
          }
          select {
              background-color: #43485A;
              color: white;
              padding: .5rem;
              border: none;
              margin-left: 1rem;
          }
          a{
              padding: .5rem;
              font-size: 1rem;
              border: solid 1px $orange;
             
              margin-left: 2rem;
          }
          a:hover{
            background-color: $orangeLog;
            transition: .5s;
        }
      }
    }
}
#tableau {
  background-color: $dark-violet;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;        
  .tab{
      background-color: $violet;
      border-radius: .3rem;
      padding: 0.1rem 1rem;
      width: 100%;
      overflow-y: scroll;
      scrollbar-width: thin;
      .tra{
        transition-duration: .2s;
        cursor: pointer;
      }
      .trNone{
        display: none;
      }
      .tra:hover{
        background-color: rgba(255, 159, 64, 0.2);
        transition-duration: .2s;
      } 
  }
  $breakpoint-alpha: 480px;

.trb{
    background-color: yellow;
}
.rwd-table {
    width: 100%;
    // display: none;
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;  
    z-index: 99;
  }  
  th {
    display: none;
    color: $orange;
    border: 1px solid $orange;
    font-size: 1.5rem;
  }
   .disable{
       color: $rougeLog;
   }
   .true{
    color: $vertLog;
    }
    .move{
        color: $orange;
    }
  td{
      text-align: center;
  }
  th {
    text-align: center;    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  } 
}       
}


.popup{
  z-index: 3;
  color: whitesmoke;
  height: 80vh;
  width: 70%;
  padding: 0 2rem;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);  
  backdrop-filter: blur(10px);
  position: fixed; /* postulat de départ */
  top: 10%;
  left: 15%;
  bottom: 25%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    font-size: 1.5rem;
    font-weight: 400;
  }
  .violet {
    color: #061765;
    font-size: 2.3rem;
    margin-bottom: .5rem;
  }
  .orange {
    color: $orange;
  }
  .vert {
    color: #00fa9a;
  }
  .red {
    color: red;
  }

  .title {
    color: white;
  }

}

// body {
//   background-color: #1115
// }
