// reset CSS
@import "variable";
@import "responsive";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.clear:before, .clear:after {content: ' ';display: table}
.clear:after { clear : both }
.clear {*zoom: 1;}

html{
    scroll-behavior: smooth;
}

body {    
    // font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}

/*BALISE DE BASE*/
ul, ol, li, nav {
    list-style: none;
}
img{
    width: 100%;
    vertical-align: bottom;
}
a {
    color: var(--noir);
    text-decoration: none;
}
em{
    font-style: normal;
}
strong{
    font-style: normal;
    font-size: 3em;
}

/*CLASS*/

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.bold{
    font-weight: bold;
}
.shadow{
    -webkit-box-shadow: 1.25vw 1.25vw 1.25vw -0.625vw lightgray;
    -moz-box-shadow:    1.25vw 1.25vw 0.625vw -0.625vw lightgray;
    box-shadow:         1.25vw 1.25vw 0.625vw -0.625vw lightgray;
}

.cover{
    background-size: cover;
}

textarea:focus, input:focus{
    outline: none;
}

#wrap1{
    max-width: 1350px;
    margin: 0 auto;
}

.wrap2{
    max-width: 1050px;
    margin: 0 auto;
}

.error {
    font-size: 1rem;
    color: red;
    margin-top: -.2rem;
    margin-bottom: .5rem;
}
input{
    border: none;
    border-bottom: 1px solid $dark_blue;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.info_box_success{
    text-align: center;
    color: $vert_success;
    padding: 10rem 0;
}

/*Bouton hover vers le haut*/
.btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    background-color: $dark_blue;
    border-radius: 15px;
    border: none;
}
.btn input[type=submit] {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 1rem 2rem;
    transition: 0.3s;
    background-color: transparent;
    border-radius: 15px;
}

.btn-1::before,
.btn-1::after {
    position: absolute;
    content: "";
}

.btn-1::before {
    background-color: $orange;
    transition: 0.3s ease-out;
    border: none;
    border-radius: 15px;
}
.btn-1 input[type=submit] {
    color: black;
    transition: 0.2s 0.1s;
    border: none;
}
.btn-1 input[type=submit]:hover {
    color: white;
    transition: 0.2s 0.1s;
    cursor: pointer;
}

.btn.hover-filled-slide-down::before {
    bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
}
.btn.hover-filled-slide-down:hover::before {
    height: 0;
}

//Formulaires
.cadre_right {
    width: 80%;
    h1 {
        text-align: center;
        background-color: $dark_blue;
        color: white;
        width: 50%;
        margin: 0 auto;
        padding: .5rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    form {
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem 1rem;
        width: 50%;
        margin: 0 auto;
        gap: .5rem;
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 1.4rem;
        label {
            width: 15rem;
        }
    }
}
